body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

.site-logo {
  font-weight: 900;
  font-size: 3rem;
  color: var(--text);
  text-decoration: none;
}

.titulos h1{
  font-size: 50px;
  text-align: center;
  padding: 15px;
  margin: 30px;
}
  
header {
  --text: #417be6;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
  background: rgb(204, 209, 211);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav__link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn--highlight::after {
  display: none;
}

/* .nav__link--btn--highlight {
  background: limegreen;
  border-color: limegreen;
  color: #333;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}
*/

.nav-scrolled {
  --text: #333;
  --text-inverse: #e91212;
  --background: #9ffa0c;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
/*Slide*/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#items-wrapper {
  margin-top: 130px;
  width: 100vw;
}

#items { 
  display: flex; 

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling: touch; */
  scroll-behavior: smooth;
} 

.item {
  flex: none;

  width: 100%;
  height: 320px;
  scroll-snap-align: start;

  pointer-events: none;
}

img {
  width: 100%;
  height: 100%;

  /* object-fit: cover; */
}

/* CARD */
.cont_card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
    background-color: rgb(208, 204, 204);
    background-color: #38CFFF;
    width: 267px;
    height: 540px;  
    margin: 30px;
    border-radius: 27px;
}
.card h2{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
align-items: center;
text-align: center;

color: #000000;

  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  text-align: center; */

}
.card p{
  font-family: Zilla Slab;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center; */
}
.card_imagem{
    
    height: 200px;
    right: 150px;
    margin-bottom: 15px;
    background-size: cover;

}
/* Beneficios */
.Beneficio_1{
    background-image: url(/img/velocidade.jpg);
}
.Beneficio_2{
    background-image: url(/img/custo.jpg);
}
.Beneficio_3{
    background-image: url(/img/terra.jpg);
}
.Beneficio_4{
    background-image: url(/img/helpdesk.jpg);
}
/* Duvida */
.duvida_1{
  background-image: url(/img/computador.jpg);
}
.duvida_2{
  background-image: url(/img/duvida.jpg);
}
.duvida_3{
  background-image: url(/img/hacker.jpg);
}
.duvida_4{
  background-image: url(/img/orçamento.png);
}
/* Suporte */
.suporte_1{
    background-image: url(/img/blender.png);
}
.suporte_2{
  background-image: url(/img/maxon.png);
}
.suporte_3{
  background-image: url(/img/autodesk.jpg);
}
.suporte_4{
  background-image: url(/img/autodesk\ maya.jpg);
}
.card:hover{
    transform: scale(1.1);
}

/*Footer*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #00B9F3;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h4, .h4, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
a {
  color: #12b9ec;
  text-decoration: underline ;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.container,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #00B9F3;
  color: #fff;
}
/* Demonstração */

.container_demo{
  max-width: 960px;
  max-height: 860px;
  margin:0 auto;
  padding: 0 .75rem;
}
.beer-slide[data-beer-label]:after,
.beer-reveal[data-beer-label]:after{
  color: #333;
  text-transform: uppercase; font-size: 0.75rem;
  font-weight: bold;
}
.beer-slider{
  box-shadow: 0 12px 16px -8 black;
}




/* Empresas Parceiras */

.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}
@keyframes scroll{
  0%{
    transform:translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img{
  width: 100%;
  transition: transform 1s;
}
img:hover{
transform: translateZ(20px);
}

/* sombras */

.slider::before,
.slider::after{
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 5%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right:0 ;
  top: 0;
  transform: rotateZ(180deg);
}













