body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .site-logo {
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--text);
    text-decoration: none;
  }
  
  header {
    --text: #417be6;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
    background: #e7e7e7;
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
  
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  .nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  .nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
  }
  
  .nav__link--btn:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
  }
  
  .nav__link--btn::after {
    display: none;
  }
  
  .nav__link--btn--highlight {
    background: limegreen;
    border-color: limegreen;
    color: #333;
  }
  
  .nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
  }
  
  .nav-scrolled {
    --text: #333;
    --text-inverse: #e91212;
    --background: #9ffa0c;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }


.cont_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(247, 9, 9);
    width: 200px;
    height: 400px;
    margin: 30px;
    border-radius: 15px;
}
.card_imagem{
    
    height: 120px;
    margin-bottom: 15px;
    background-size: cover;
<<<<<<< Updated upstream
}
.cardi-1{
    background-image: url(/img/autodesk\ maya.jpg);
=======

}

/* Beneficios */

.Beneficio_1{
    background-image: url(/img/velocidade.jpg);
}
.Beneficio_2{
    background-image: url(/img/custo.jpg);
}
.Beneficio_3{
    background-image: url(/img/terra.jpg);
}
.Beneficio_4{
    background-image: url(/img/helpdesk.jpg);
}

/* Duvida */

.duvida_1{
  background-image: url(/img/computador.jpg);
>>>>>>> Stashed changes
}
.cardi-2{
    background-image: url(/img/duvida.jpg);
}
.cardi-3{
    background-image: url(/img/globo.png);
}
<<<<<<< Updated upstream
.cardi-4{
    background-image: url(/img/gaveta\ films.jpg);
=======
.duvida_4{
  background-image: url(/img/orçamento.png);
}

/* Suporte */

.suporte_1{
    background-image: url(/img/blender.png);
}
.suporte_2{
  background-image: url(/img/maxon.png);
}
.suporte_3{
  background-image: url(/img/autodesk.jpg);
}
.suporte_4{
  background-image: url(/img/autodesk\ maya.jpg);
>>>>>>> Stashed changes
}
.card:hover{
  transform: scale(1.1);
}

/* Demonstração */

.demonstracao_1{
  background-image: url(/img/warne\ bros.png);
}
.demonstracao_2{
  background-image: url(/img/disney.png);
}
.demo_imagem{
  
  height: 20px;
  right: 15px;
  margin-bottom: 15px;
 

}








/*Footer*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}



.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #00B9F3;
  color: #fff;
}
<<<<<<< HEAD
=======

/* Empresas Parceiras */

.carrossel{
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  height: 500px;
  width: 500px;
}
.conte_carrossel{
  display:flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);

}
.conte_carrossel img{
  object-fit: cover;
  height: 500px;
  width: 500px;
}




>>>>>>> parent of cfd1760 (06/12 20:51)









