@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu_container{
    background-color: rgb(37, 37, 39);
}

#menu_container ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu_container ul li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}

#menu_container ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background 4s;
}

#menu_container ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu_container ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}


/* Beneficios*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.row{
    display: flexbox;
    flex-basis:   10px;
    flex-grow: initial;
    
}

section{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 100px 0;
}
.card{
    
    position: relative;
    max-width: auto;
    height: auto;
    background-color: linear-gradient(-45deg, #fe0847,#2ef24f);
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
}

img {
    max-width: 100%;
    height: auto;
}

/*faz a animação do card ficar grande*/
.card:hover{
    transform: scale(1.1);
}
.col-sm-4:nth-child(1).card, .col-sm-4:nth-child(1).card .title .fa{background: linear-gradient(-45deg, #f403d1, #64b5f6);}
.col-sm-4:nth-child(2).card, .col-sm-4:nth-child(2).card .title .fa{background: linear-gradient(-45deg, #ffe61f, #f321d7);}
.col-sm-4:nth-child(3).card, .col-sm-4:nth-child(3).card .title .fa{background: linear-gradient(-45deg, #24ff72, #9a4eff);}
/*laço vermelho no card
.card::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgb(242, 16, 16);
    z-index: 1;
    transform: skewY(-9deg) scale(1.0);
}*/

/*simbolo do direct*/

.title .img{         
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,2);
}
/*texto em baixo do direct*/
.title h2{
    position: relative;
    margin: 20px 0 0;
    padding: 20px;
    color: rgb(9, 222, 230);
    font-size: 28px;
    z-index: 2;
}

.option{
    position: relative;
    z-index: 2;
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: rgb(12, 103, 201);
    font-size: 25px;
}





