.logo{
  max-width: 170px;         /*Estabelece a largura máxima*/
  max-height: 68px;         /*Estabelece a Altura máxima*/
  width: 100%;              /*Largura*/
  height: 70%;              /*Altura*/
  left: 40px;               /*Esquerda*/
  align-items: center;      /*Alinha os itens (centro)*/
  display: flex;            /*Defini como um elemento HTML será renderizado(Flex= Adaptativo)*/
}

.titulos h1{
  font-size: 50px;          /*Tamanho da fonte*/
  text-align: center;       /*Alinha os itens (centro)*/           
  margin: 30px;             /*Área de margem nos quatro lados do elemento*/
}

/* ==================================== */
#header {
  box-sizing: border-box;               /**/
  --text: #01f8ec;                    /**/
  position: fixed;                      /**/
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 2em 3em;
  
  background: rgb(187, 215, 226);
  
}

#nav {
  display: flex;
  list-style: none;
  gap: .5rem; 
}
#menu {
  display: flex;
  list-style: none;
  gap: .5rem; 
  color: #0235a3;
}
#nav__list{
  display: flex;
  list-style: none;
  gap: 0.5rem;
  color: #0336a3;
}
#nav__list a{
  display: block;
  padding: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
}
#btn-mobile {
  display: none;
}

@media (max-width: 768px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav__list {
    display: flex;
    position: absolute;
    width: 100%;
    top: 360px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    list-style: none;
  }
  

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  
  #nav.active #nav__list  {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav__link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn--highlight::after {
  display: none;
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #e91212;
  --background: #9ffa0c;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

/*Slide ==================== SLIDE  ================= SLIDE  ================== SLIDE   ======================  SLIDE  =====================  SLIDE========================*/
.stop-scrolling { /*Classe para parar o scrolling do Site, focando apenas no Slider*/
  height: 100%;  
  overflow: hidden;
}

#items-wrapper { /*Conteiner do itens*/
  margin-top: 132px;
  width: 100vw;
}

#items { /*Conteiner dos itens das imgs*/
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory; /*Demanda a oientação do Scroll*/
  
  scroll-behavior: smooth;
}

#items::-webkit-scrollbar { /*Remove a scroll bar do Slider*/
  display: none;
}

.item { /*Stilo dos itens que guardam as imagens*/
  flex: none;

  width: 100%;
  height: 320px;
  scroll-snap-align: start; /*Centraliza o scroll*/

  pointer-events: none; /*O mouse não pode interagir com esses elementos, apenas seu elemento-pai*/
}

img { /*Stilo das imagens*/
  width: 100%;
  height: 100%;

  object-fit: cover; /*Mantem a o tamanho da imagem na visualização*/
}

/* CARD ======================  CARD  =======================   CARD  =================  CARD  ====================  CARD  ====================== CARD ================*/


.cont_card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
    background-color: rgb(208, 204, 204);
    background-color: #38CFFF;
    max-width: 267px;
    max-height: 450px; 
    width: 100%; 
    margin: 30px;
    border-radius: 27px;
}

.card h2{
  font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;

text-align: center;

color: #000000;

}
.card p{
font-family: Arial, Helvetica, sans-serif; /* Fonte do paragrafo*/
font-size: 20px;                          /* Tamanho da letra*/
line-height: 36px;                        /*Altura da linha*/
text-align: center;                       /*Alinhamento do texto*/
color: #000000;                         /*Cor do texto*/
}

.card:hover{
  transform: scale(1.1);
}

.card_imagem img{
  display: flex;
  max-width: 450px;
  max-height: 170px;
  padding: 10px ;
  margin-top: 10px ;
  align-items: center;
  border-radius: 27px 27px 0 0;
}

















/* Demonstração ====================  Demonstração  ==================   Demonstração   ========================   Demonstração   ===========================  Demonstração  === */


.container_demo{
  display: flex;
  max-width: 1360px;
  max-height: 490px;
  margin:0 auto;
  padding: 0 .75rem;
}
.beer-slide[data-beer-label]:after,
.beer-reveal[data-beer-label]:after{
  color: #333;
  text-transform: uppercase; font-size: 0.75rem;
  font-weight: bold;
}
.beer-slider{
  box-shadow: 0 12px 16px -8 black;
}




/* Empresas Parceiras =========================  Empresas Parceiras  ==========================  Empresas Parceiras  =====================  Empresas Parceiras  ===============*/


.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}
@keyframes scroll{
  0%{
    transform:translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img{
  width: 100%;
  transition: transform 1s;
}
img:hover{
transform: translateZ(20px);
}

/* sombras */

.slider::before,
.slider::after{
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 5%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right:0 ;
  top: 0;
  transform: rotateZ(180deg);
}


/*Footer  =========================  Footer  ===================================  Footer  ================================  Footer  ====================  Footer  ============*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #00B9F3;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h4, .h4, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
a {
  color: #12b9ec;
  text-decoration: underline ;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.container,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #00B9F3;
  color: #fff;
}